body {
	font-family: Verdana, Arial, sans-serif;
}

header {
	font-size: 120%;
	color: #555;
	padding: 1em 1em 1em 1em;
}

.hint {
	color: #555;
	padding: 1em 1em 1em 1.2em;
}

#cities {
	float: left;
	width: 30%;
}

#cities ul {
}

#cities ul li {
	cursor: pointer;
	padding-top: 0.5em;
}

#map {
	float: right;
}





html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }