<h3>Hello {{username}}</h3>
<!-- Tables
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="tables">Your deliveries today:</h1>
            </div>

            <div class="bs-component">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Order number</th>
                    <th>Product name</th>
                    <th>Quontity</th>
                    <th>Address</th>
                    <th>Time</th>
                    <th>Details</th>
                    <th>Map</th>
                    <th>Done</th>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="todayOrderData in todayOrderData" type="none">
                    <td ><span>{{todayOrderData.ID}}</span></td>  
                    <td><span>{{todayOrderData.OrderNummer}}</span></td>
                    <td><span>{{todayOrderData.prodyctName}}</span></td>
                    <td><span>{{todayOrderData.quontity}}</span></td>
                    <td><span>{{todayOrderData.deliveryAddress}}</span></td>
                    <td><span>{{todayOrderData.deliveryTime}}</span></td>
                    <td><a href="courier-account/order/{{todayOrderData.OrderNummer}}">Details</a></td>
                    <td><a href="courier-account/map/{{todayOrderData.OrderNummer}}">Map</a></td>
                    <td><span>{{todayOrderData.done}}</span></td>
                  </tr>
                 
                  
                </tbody>
              </table> 
            </div><!-- /example -->

             <button type="button" class="btn btn-primary" ng-click="initialize()">Show map</button>

          </div>
        </div>
      </div>



    
                        
                      
                            
                  
                        
                     